---
// import Breadcrumbs from "@components/Breadcrumbs.astro";

export interface Props {
	pageTitle: string;
	pageDesc?: string;
}

const { pageTitle, pageDesc } = Astro.props;
---

<!-- <Breadcrumbs /> -->
<main id="main-content">
	<h1 class="font-magazine">{pageTitle}</h1>
	<p>{pageDesc}</p>
	<div class="grid">
		<slot />
	</div>
</main>

<style>
	#main-content {
		@apply mx-auto w-full max-w-3xl px-4 pb-12 pt-8;
	}
	#main-content h1 {
		@apply text-4xl font-semibold sm:text-3xl;
	}
	#main-content p {
		@apply mb-6 mt-2 italic;
	}
</style>
